@if (!isLoading()) {
  <h4>Meal at {{ getMealTime(meal()) }}</h4>

  <select [(ngModel)]="dishId" (change)="getDish(dishId)">
    <option [ngValue]="0">Select a dish..</option>
    @for (dish of dishes(); track dish.id) {
      <option [value]="dish.id">{{ dish.name }}</option>
    }
  </select>

  @if (dishWithFoods().id != 0) {
    <app-meal-table
      [dish]="dishWithFoods()"
      [foods]="foods()"
      (update)="updateFoodInDish($event.dishId, $event.foodId, $event.event)"
      (delete)="onDeleteFoodFromDish($event.dishId, $event.foodId)"
      (add)="addFoodToDish($event.dishId, $event.foodId)"
    ></app-meal-table>
  }

  <div>
    <button (click)="onAddDishToMeal(meal().id, dishWithFoods().id)">Add Dish</button>
  </div>


  <h5>Meal dishes</h5>
  @if (mealDishes().length > 0) {
    @for (mealDish of mealDishes(); track mealDish.id) {
      <app-meal-dish-table
        [mealDish]="mealDish"
        [foods]="foods()"
        (update)="onUpdateIngredientInMealDish()"
        (delete)="onDeleteIngredientFromMealDish()"
        (add)="onAddIngredientToMealDish($event.dishId, $event.foodId)"
      ></app-meal-dish-table>
    }
  }

  <div>
    <button (click)="onAddMealDish(meal().id)">Add Meal Dish</button>
  </div>

  <h5>Summary</h5>

  <table>
    <thead>
    <tr>
      <th>Property</th>
      <th>Amount</th>
      <th>Unit</th>
    </tr>
    </thead>

    <!--    <tbody>-->
    <!--      @for (property of dishWithFoods().dishProperties; track property.propertyId) {-->
    <!--        <tr>-->
    <!--          <td>{{ property.propertyName }}</td>-->
    <!--          <td>{{ property.propertyAmount }}</td>-->
    <!--          <td>{{ property.unit }}</td>-->
    <!--        </tr>-->
    <!--      }-->
    <!--    </tbody>-->
  </table>

}
