<h6>{{ mealDish().name }}</h6>

<table>
  <thead>
  <tr>
    <th>Food</th>
    <th>Quantity</th>
    <th>Unit</th>
  </tr>
  </thead>

  <tbody>
    @for (ingredient of mealDish().ingredients; track ingredient.id) {
      <tr>
        <td>{{ ingredient.name }}</td>
        <td>
          <input
            type="number"
            [value]="ingredient.quantity"
            (change)="updateIngredient(mealDish().id, ingredient.id, $event)"
          />
        </td>
        <td> //FIXME: Unit</td>
        <td>
          <button (click)="deleteIngredient(mealDish().id, ingredient.id)">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>

<select [(ngModel)]="foodId">
  <option [ngValue]="0">Add a food...</option>
  @for (food of foods(); track $index) {
    <option [ngValue]="food.id">{{ food.name }}</option>
  }
</select>
<button (click)="addIngredient(mealDish().id, foodId)">Add</button>
<hr>
