<h5>{{ dish().name }}</h5>

<table>
  <thead>
  <tr>
    <th>Food</th>
    <th>Quantity</th>
    <th>Serving size</th>
    <th>Per (unit)</th>
  </tr>
  </thead>

  <tbody>
    @for (food of dish().foods; track food.id) {
      <tr>
        <td>{{ food.name }}</td>
        <td>
          <input
            type="number"
            [value]="food.quantity"
            (change)="updateFoodInDish(dish().id, food.id, $event)"
          />
        </td>
        <td>{{ food.servingSize }}</td>
        <td>{{ food.unit }}</td>
        <td>
          <button (click)="onDeleteFoodFromDish(dish().id, food.id)">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>

<select [(ngModel)]="foodId">
  <option [ngValue]="0">Add a food...</option>
  @for (food of foods(); track $index) {
    <option [ngValue]="food.id">{{ food.name }}</option>
  }
</select>
<button (click)="addFoodToDish(dish().id, foodId)">Add</button>
