@if (isLoading()) {
  <div class="loading-spinner">Loading...</div>
} @else if (hasError()) {
  <div class="error-message">{{ errorMessage() }}</div>
} @else if (collection()) {
  <div class="collection-detail-container">
    <h1>Collection: {{ collection().name }}</h1>
    <h2>Foods</h2>
    <div class="collection-food-card-container">
      @for (collectionFood of collectionFoods(); track collectionFood.id) {
        <app-collection-food-card (delete)="onFoodDelete($event)" [food]="collectionFood"></app-collection-food-card>
      }
    </div>

    <h3>Collection stats</h3>
    <app-collection-stats [collection]="collectionFoods()"></app-collection-stats>

    <h3>Add a food</h3>
    <form class="add-food-form" (ngSubmit)="addFoodToCollection()">
      <div class="add-food-form-field">
        <label for="add_food">Food</label>
        <select
          id="add_food"
          name="food"
          [(ngModel)]="foodId"
          (click)="getSelectedFood()"
        >
          @for (food of foods(); track $index) {
            <option [value]="food.id">{{ food.name }}</option>
          }
        </select>
      </div>

      @if (selectedFood().id != 0) {
        <app-food-card [noId]="true" [food]="selectedFood()"></app-food-card>
      }
      <div class="add-food-form-field">
        <label for="add_quantity">Quantity</label>
        <input
          id="add_quantity"
          type="number"
          [(ngModel)]="quantity"
          name="quantity"
          placeholder="E.g. 250" />
      </div>
      <div class="form-actions">
        <button type="submit" class="button primary">Add Property</button>
      </div>
    </form>

    <app-action
      [item]="collection()"
      (onBack)="onBack()"
      (onDelete)="onDelete($event)"
    ></app-action>
  </div>
}
