<div class="collection-detail-container">
  <h2>Foods</h2>

  <div class="collection-food-card-container">
    @for (collectionFood of collectionFoods(); track collectionFood.id) {
      <app-collection-food-card
        [food]="collectionFood"
        (delete)="onFoodDelete($event)">
      </app-collection-food-card>
    }
  </div>
</div>

<h3>Add a food</h3>

<form class="add-food-form" (ngSubmit)="addFoodToCollection()">
  <div class="add-food-form-field">
    <label for="add_food">Food</label>
    <select
      id="add_food"
      name="food"
      [(ngModel)]="foodId"
      (change)="getSelectedFood()">
      @for (food of foods(); track $index) {
        <option [value]="food.id">{{ food.name }}</option>
      }
    </select>
  </div>

  @if (selectedFood().id != 0) {
    <app-food-card
      [showId]="false"
      [showName]="false"
      [food]="selectedFood()">
    </app-food-card>
  }

  <div class="add-food-form-field">
    <label for="add_quantity">Quantity</label>
    <input
      id="add_quantity"
      type="number"
      [(ngModel)]="quantity"
      name="quantity"
      placeholder="E.g. 250" />
  </div>

  <div class="form-actions">
    <button type="submit" class="button primary">
      Add Food
    </button>
  </div>
</form>
<div class="collection-stats">
  <h3>Collection stats</h3>
  <app-collection-stats
    [collectionProperties]="collectionProperties()">
  </app-collection-stats>
</div>
