@if (isLoading()) {
  <div class="loading-spinner">Loading...</div>
} @else if (hasError()) {
  <div class="error-message">{{ errorMessage() }}</div>
} @else if (food()) {
  <div class="food-detail-container">
    <app-food-card
      [food]="food()!"
    >
    </app-food-card>
    <app-action
      [item]="food()"
      (onBack)="onBack()"
      (onDelete)="onDelete($event!)"
    ></app-action>

    <h2>Properties</h2>
    <div class="food-property-card-container">
      @for (foodProperty of foodProperties(); track foodProperty.id) {
        <app-food-property-card [property]="foodProperty"></app-food-property-card>
      }
    </div>

    <h3>Add a property</h3>

    <form class="add-property-form" (ngSubmit)="addPropertyToFood()">
      <div class="add-property-form-field">
        <label for="add_property">Property</label>
        <select
          id="add_property"
          name="property"
          [(ngModel)]="propertyId"
        >
          @for (property of properties(); track $index) {
            <option [value]="property.id">{{ property.name }}</option>
          }
        </select>
      </div>

      <div class="add-property-form-field">
        <label for="add_property_value">Value</label>
        <input
          id="add_property_value"
          type="number"
          [(ngModel)]="propertyValue"
          name="propertyValue"
          placeholder="E.g. 250" />
      </div>

      <div class="form-actions">
        <button type="submit" class="button primary">Add Property</button>
      </div>
    </form>
  </div>
}
